<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/app.css">
	<link rel="stylesheet" href="/stylesheets/css/style.css">
</head>

<body>
	<!-- Header -->
		<% if (usuario) { %>
    <%- include('./partials/headerLogueado', { usuario: usuario }) %>
	<% } else { %>
    <%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (productos.length === 0) { %>
  				<p class="search_no_encontrado"><%= mensaje %></p>
			<% } else { %>
				<% for (let i=0; i < productos.length; i++) { %>
					<article class="col-12 col-lg-8 product-detail-info">
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/id/<%= productos[i].id %>">
									<img src="<%=productos[i].fotoProducto %>">
									<figure class="product-box_image"></figure>
									<article class="product-box_data">
										<h2><%= productos[i].nombreProducto %></h2>
										<p><%= productos[i].descripcionProducto %></p>
									</article>
								</a>
							</section>
						</div>
					</article>
				<% } %>
			<% } %>
				
<li> </li>

			


	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>